.blackbg {
    background-color: black;
}

.section_1 {
    background-color: black;
    color: white;
    text-align: center;
    padding: 150px 0px;
    background: url('../images/streamwell.svg');
    background-position: center;
    background-repeat:no-repeat;


}

.section_1 h1 {
    font-family: 'Raleway',  sans-serif;
    font-weight: 700;
    font-size: 8vw;
    letter-spacing: 1vw;
}

.section_2 {
    background: url('../images/finalimage20.jpg');
    background-position: center;
    background-repeat:no-repeat;
    padding: 150px 0px;
    /* text-align: center; */
    color: rgb(206, 206, 206);

  
}

.section_2 button {
    margin: 50px 0px;
    font-size: 20px;
    font-weight: 500;
    height: 70px;
    color: white;
    background-color: #2699FB;
    border-radius: 5px;
    border: 0px;
}

.section_2 button:hover {
    color: white;
    background-color: rgba(71, 151, 255, 0.589);
}

.section_3 {
    background-color: rgb(38, 153, 251);
    color: black;
    padding: 130px 0px;
    
    text-align: center;
   /*  max-width: 1000px; */
    margin: 0 auto;
    
}

.section_3 h5 {
    max-width: 1000px;
    text-align: center;
    margin: 0 auto;
    font-weight: 400;
}

.section_4 {
    color: rgb(0, 0, 0);
    padding: 70px 0px;
    background-color: rgb(218, 218, 218);
}

.section_4 {
    text-align: center;
    margin: 0 auto;
}

.section_4 h3 {
    font-weight: 700;
    text-transform: uppercase;
    /* font-family: 'Roboto Slab', serif; */
}

.picture1 {
    background: url('../images/addschedule.png');
}

.section_5 {
    color: rgb(206, 206, 206);
    text-align: center;
    margin: 0 auto;
    padding: 70px 0px;
}

.section_5 h3 {
    font-weight: 700;
    text-transform: uppercase;
}

.section_6 {
    text-align: center;
    margin: 0 auto;
    padding: 130px 0px;
}

.section_6 button {
    margin: 50px 0px;
    font-size: 20px;
    font-weight: 500;
    height: 70px;
    color: white;
    background-color: #2699FB;
    border-radius: 5px;
    border: 0px;
}

.section_6 button:hover {
    color: white;
    background-color: rgba(71, 151, 255, 0.589);
}